<div style="font-size: 150%;">
<% if request.post? %>
<p>Posted!</p>
<% end %>
<div>
Database host/port: <%= @db_host_port %>
</div>
<div>
Fly region: <%= ENV['FLY_REGION']%>
</div>
<%= form_tag '/write' do %>
  <input type="submit" value="Write me now">
<% end %>
</div>
<%= session.inspect %>
<ul>
<% Writeable.all.each do |w| %>
<li><%= w.created_at %><li>
<% end %>
</ul>
